@tailwind base;
@tailwind components;
@tailwind utilities;

/*Importing google fonts through a link seem to not work? They would apply but not show?
  Currently importing locally and applying through tailwind.config.ts*/

@font-face{
  font-family: 'JockeyOne';
  src: url('./Fonts/JockeyOne.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'BellotaText';
  src: url('./Fonts/BellotaText.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'JostR';
  src: url('./Fonts/JostRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'JostM';
  src: url('./Fonts/JostMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'JostL';
  src: url('./Fonts/JostLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  @apply font-JostR;
  background-color: #1C1C1C;
}

ul li {
  @apply font-Jockey;
}

h1 {
  @apply font-Bellota;
  color: white;
}

h2{
  @apply font-JostM;
}

h3{
  @apply font-JostL;
  font-size: 24px;
  text-transform: uppercase;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
