@tailwind base;
@tailwind components;
@tailwind utilities;

/* (How to apply google font: select font -> get embed code -> web -> @import -> copy '@import url('...')' at the top ->
copy css within {} and plug into below like ':root')
(link import only seems to work with 'variable' fonts and not static ones)

Importing Google-Font: Jost */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
  font-family: 'JockeyOne';
  src: url('./Fonts/JockeyOne.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

:root {

  /*paste css class code here to apply the font*/
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  background-color: #1C1C1C;
}

ul li {
 @apply font-custom;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
